header {
  width: 50%;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 20px #5c5c5c;
}

.nome {
  border-left: 5px solid #aa43fe;
  padding-left: 5px;
  text-align: left;
  font-size: 30px;
  color: #202020;
}

.sair {
  width: 45px;
  height: 45px;
  padding: 10px;
  background-color: #aa43fe;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-size: 30px;
}

@media (max-width: 767px) {
  header {
    width: 75%;
  }

  .nome {
    font-size: 30px;
  }

  .sair {
    width: 40px;
    height: 40px;
    padding: 5px;
    font-size: 25px;
  }
}
